<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Back Shadow -->
    <div class=" bg-black/30 absolute inset-0 flex flex-col items-center justify-center">
        <div class="relative bg-slate-800 rounded-2xl px-5 py-6 w-2/3">
            <div class="border-b-2 mb-3">
                <h3 class="text-3xl text-slate-50 pb-2"> EDIT PROFILE</h3>
            </div>
            <!-- Modal Content -->
            <div class="grid grid-cols-2 gap-4 mb-2">
                <div class="flex flex-col">
                    <label class="mb-1 text-slate-100/90">Nomor Pokok</label>
                    <input type="text"
                        class="transition-all text-slate-50 bg-slate-500/40 duration-150 ease-in-out appearance-none rounded focus:outline-blue-500 focus:ring-2 focus:ring-blue-500/40 focus:outline-double py-0.5 focus:outline-2 px-2">
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 text-slate-100/90">Nama</label>
                    <input type="text"
                        class="transition-all text-slate-50 bg-slate-500/40 duration-150 ease-in-out appearance-none rounded focus:outline-blue-500 focus:ring-2 focus:ring-blue-500/40 focus:outline-double py-0.5 focus:outline-2 px-2">
                </div>
            </div>
            <div class="flex flex-col mb-2">
                <label class="mb-1 text-slate-100/90">Contact</label>
                <input type="number" min="0"
                    class="transition-all text-slate-50 bg-slate-500/40 duration-150 ease-in-out appearance-none rounded focus:outline-blue-500 focus:ring-2 focus:ring-blue-500/40 focus:outline-double py-0.5 focus:outline-2 px-2">
            </div>
            <div class="flex flex-col mb-2">
                <label class="mb-1 text-slate-100/90">E-Mail</label>
                <input type="text"
                    class="transition-all text-slate-50 bg-slate-500/40 duration-150 ease-in-out appearance-none rounded focus:outline-blue-500 focus:ring-2 focus:ring-blue-500/40 focus:outline-double py-0.5 focus:outline-2 px-2">
            </div>
            <div class="flex flex-col mb-2">
                <label class="mb-1 text-slate-100/90">Alamat</label>
                <textarea
                    class="transition-all text-slate-50 bg-slate-500/40 duration-150 ease-in-out appearance-none rounded focus:outline-blue-500 focus:ring-2 focus:ring-blue-500/40 focus:outline-double py-0.5 focus:outline-2 px-2"></textarea>
            </div>
            <!-- Button Footer -->
            <div class="mt-7 flex justify-end">
                <button type="submit" class="bg-blue-600 brightness-125 shadow-lg shadow-blue-600/30 text-blue-50 px-2 py-1 rounded-md ">Simpan</button>
            </div>
        </div>
    </div>
</body>

</html>
