@tailwind base;
@tailwind components;
@tailwind utilities;
@import "animation.css";
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(/font/Roboto-Regular.ttf) format('ttf');
  }
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
      margin-top: 6rem;
      margin-bottom: 6rem;
      border-radius: 100vh;
      background: transparent;
      -webkit-border-radius: 100vh;
      -moz-border-radius: 100vh;
      -ms-border-radius: 100vh;
      -o-border-radius: 100vh;
}

    .scrollbar::-webkit-scrollbar-thumb {
      background: rgba(51,65,85,0.6);
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgba(51,65,85,1);
    }
  }

